#headerWeb {
    height: 100%;
    box-shadow: 1px 0px 5px rgba(180, 171, 171, 0.5);    
    padding: 20px;
}
img {
    width: 200px;
}
* {
    color: #AC3230;
}
#main {
    height: 800px;
    box-shadow: 1px 1px 5px rgba(180, 171, 171, 0.5);    
}
#mainCenter{
    box-shadow: 1px 1px 5px rgba(180, 171, 171, 0.5);    
    padding-top: 40px;
}
#addNew{
    padding: 0px !important;
}
footer {
    text-align: center;
}
#mainLeft {
    height: 800px;
    box-shadow: 1px 1px 5px rgba(180, 171, 171, 0.5);
    padding-top: 60px;
}
#mainHome {
    height: 800px !important;
    padding-top: 40px;
    padding-left: 70px;
}
#mainHome h3 {
    text-align: left;
}
#mainHome p {
    text-align: left;
}
#tittleHome {
    text-align: center !important;
}
h2 {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 32px;
}
footer {
    box-shadow: 1px 15px rgba(180, 171, 171, 0.5);
    padding: 20px;
    background-color: white;
}